@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap');

* {
	margin: 40;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Inter', sans-serif;
}
body {
	background: #fafafa;
}

/*--------------------------------------------------------------
# Color
--------------------------------------------------------------*/
.primary {
	color: #00a65a;
}
.danger {
	color: #f44336;
}
.text-color {
	color: #6c757d;
}
.heading-color {
	color: #152536;
}

/*--------------------------------------------------------------
# font Sizes
--------------------------------------------------------------*/

.h2 {
	font-family: Inter;
	font-size: 32px;
	font-style: normal;
	font-weight: 600;
	line-height: 39px;
	letter-spacing: 0em;
	text-align: left;
	color: #152536;
}

.h5 {
	//styleName: Semi Bold/H5;
	font-family: Inter;
	font-size: 20px;
	font-style: normal;
	font-weight: 600;
	line-height: 24px;
	letter-spacing: 0em;
	text-align: left;
	color: #6c757d;
}
.p {
	//styleName: Deskription card text;
	font-family: Inter;
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	line-height: 19px;
	letter-spacing: 0em;
	text-align: left;
}
/*--------------------------------------------------------------
# Section UP & DOWN
--------------------------------------------------------------*/
#up {
	margin-top: 24px;
	margin-left: 40px;
	margin-right: 40px;
}

#down {
	margin-top: 24px;
	margin-left: 40px;
	margin-right: 40px;
}
/*--------------------------------------------------------------
# Card
----------------------------------------------------------*/
.tabel-card tr td {
	padding: 4px;
}
.card-custom {
	padding-left: 14px;
	padding-top: 14px;
	padding-bottom: 14px;
	padding-right: 0px;
}
