@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap');

* {
	margin: 40;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Inter', sans-serif;
}
body {
	background: linear-gradient(90deg, #e6e9f0 0%, #eef1f5 100%);
}
.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
	padding-left: 8px;
	padding-right: 8px;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin-bottom: 10px;
}

.navbar-custom {
	padding-top: 14px;
	padding-bottom: 14px;
	padding-left: 50px;
	padding-right: 50px;
	background-color: rgba(255, 255, 255, 0.6);
	backdrop-filter: blur(20px);
}

.card {
	background-color: #fff;
	border: none;
	border-radius: 8px;
}
/*--------------------------------------------------------------
# Color
--------------------------------------------------------------*/
.primary {
	color: #00a65a;
}
.danger {
	color: #f44336;
}
.text-color {
	color: #6c757d;
}
.heading-color {
	color: #152536;
}

/*--------------------------------------------------------------
# font Sizes
--------------------------------------------------------------*/

.p {
	font-family: 'Inter';
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	line-height: 19px;
	letter-spacing: 0em;
	text-align: left;
}
/*--------------------------------------------------------------
# Section UP & DOWN
--------------------------------------------------------------*/
#main {
	margin-left: 40px;
	margin-right: 40px;
}
/*--------------------------------------------------------------
# Card
----------------------------------------------------------*/
.tabel-card tr td {
	padding: 2px;
}
.table {
	margin-bottom: 0px !important;
}
.card-custom {
	padding-left: 10px;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-right: 0px;
}
.img-custom {
	height: 74px;
	weight: 74px;
}
